<div class="callback">
	<div class="callback__inner">
		<div class="callback__info">
			<div class="callback__info-title">Хотите войти в 0,30% на OnlyFans и получать более $20 000 в мес.?</div>
			<div class="callback__text">Оставляйте заявку, мы свяжемся с вами в течении 24 часов</div>
		</div>
		<div class="callback__form form">
			<div class="form__inner">
				<div class="form__title">Оставить заявку</div>
				<div class="form__row">
					<div class="input input_size_l form__input">
						<div class="input__box">
							<input type="text" class="input__control" placeholder="Ваше имя">
						</div>
					</div>
				</div>
				<div class="form__row">
					<div class="input input_size_l form__input">
						<div class="input__box">
							<input type="text" class="input__control" placeholder="Ваш инстаграм">
						</div>
					</div>
				</div>
				<div class="form__row">
					<div class="input input_size_l form__input">
						<div class="input__box">
							<input type="text" class="input__control" placeholder="Ваш телеграм">
						</div>
					</div>
				</div>
				<div class="form__row">
					<button class="button button_size_xl button_view_secondary button_width_available">
						<div class="button__text">Подать заявку</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>