{% extends "layouts/layout.njk" %}

{% block main %}

	{% include "blocks/header/header.njk" %}

	{% set inject = {
		pageSectionClass: "page__banner",
		pageDecoClass: "deco__section-spot"
	} %}

	{% include "blocks/sections/banner.njk" %}

	{% set inject = {
		title: "Преимущества работы с нами",
		pageSectionClass: "page__benefits"
	} %}

	{% include "blocks/sections/benefits.njk" %}

	{% set inject = {
		title: "Результаты работы с нами",
		pageSectionClass: "page__result",
		pageDecoClass: "deco__section-spot"
	} %}

	{% include "blocks/sections/result.njk" %}

	{% set inject = {
		title: "",
		pageSectionClass: "page__callback"
	} %}

	{% include "blocks/sections/callback.njk" %}

	{% set inject = {
		title: "Вы делаете контент - мы делаем результат!",
		pageSectionClass: "page__slogan",
		pageDecoClass: "deco__section-spot"
	} %}

	{% include "blocks/sections/slogan.njk" %}

	{% set inject = {} %}
	{% include "blocks/sections/footer.njk" %}

{% endblock %}