<div class="models__item swiper-slide">
	<div class="models__item-imgbox">
		<img
			src="./img/models/model_{{loop.index}}.png"
			alt="{{item}}"
			class="models__item-img img"
		>
	</div>
	<div class="models__item-name">{{item}}</div>
	<div class="models__item-statementsbox">
		<img src="./img/models/statements_{{loop.index}}.jpg" alt="" class="models__item-statementsbox img">
	</div>
</div>