<div class="menu-footer footer__menu">
	<nav class="menu-footer__inner">
		{% for item in menu.menu_main %}
			{% if item.name !== "Контакты" %}
				<a href="{{item.href}}" class="menu-footer__item link">{{item.name}}</a>
			{% endif %}

		{% endfor %}
	</nav>
</div>