.page {
	&_theme {
		font: 16px / 2.14 "Montserrat", sans-serif;
		color: $color_blue;
		background: $color_pink;
		position: relative;
	}

	&_menu_open {
		overflow: hidden;
		/*height: 100%;*/
		.page__menu-mobile_open {
			animation: slideMenuOpen 1s forwards;
		}
	}
	&_menu_close {
		.page__menu-mobile_close {
			animation: slideMenuClose 1s forwards;
		}
	}

	&__menu-mobile {
		/*display: none;*/
		position: fixed;
		z-index: 30;
		overflow: hidden;
		height: 100vh;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-99999px);

		/*	width: 100vw;*/
		//background-color: #fff;
		@include bp768-block() {
			display: none;
		}

		&_open {
			display: flex;
		}
	}
	& .swiper-pagination-bullet-active {
		background-color: $color_pink;
	}
	&__footer {
	}
}
