{% set title = "Титл!" %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport", content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible", content="ie=edge">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	{% include "blocks/favicon.njk" %}
	<script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
	<link rel="stylesheet", href="./css/style.css">
	<title>
		{{title}}
	</title>
</head>