<div class="benefits__item benefit-item">
	<div class="benefit-item__inner">
		<div class="benefit-item__imgbox">
			<img src="./img/deco/deco_{{item.icon}}.png" alt="" class="benefit-item__img img">
		</div>
		<div class="benefit-item__content">
			<div class="benefit-item__name">{{item.name}}</div>
			<div class="benefit-item__text">{{item.text}}</div>
		</div>

	</div>
</div>